@import 'constants';

.About {
  padding-top: 0.01rem;

  // @include debugger();
  .WhoWeAre {
    .logo-img {
      box-shadow: 0 2rem 3rem rgba(200, 165, 101, 0.85);
    }
  }

  .OurPeople {
    &.include-page-header {
      .page-title {
        .before,
        .after {
          height: 32rem;

          img {
            margin-top: 3.5rem;
          }
        }
      }
    }
  }

  .Certificate {
    &.include-page-header {
      .page-title::before {
        background: {
          image: url('/images/assurance.jpg');
          size: cover;
          position: center;
        }
      }
    }
  }
}

.Client-Image {
  object-fit: cover;
  border-radius: 100%;
  background-color: grey;
  background-position: center;
  height: 100px;
  width: 100px;
  filter: grayscale(1);
  background-image: url('/images/portfolio/enugu_logo.jpg');
  transition: all 0.5s ease-in-out;
}

.Client-Image:hover {
  filter: none;
  transform: scale(1.1);
}

.Person-Image {
  border-radius: 1rem;
  width: 20rem;
}

.Certificate {
  width: 100%;
  height: auto;
}

.Certificate-One {
  background: url('/images/document.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Certificate-Two {
  background: url('/images/document.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

$clients: (
  1 'enugu' '/images/clients/enugu.jpg',
  2 'nbp' '/images/clients/nbp.jpeg',
  3 'ndphc' '/images/clients/ndphc.jpeg',
  4 'nlng' '/images/clients/nlng.jpeg',
  5 'shell' '/images/clients/shell.jpeg',
  6 'eedc' '/images/clients/eedc.jpg',
  7 'nta' '/images/clients/nta.jpg',
  8 'arda' '/images/clients/arda.jpg',
  9 'unn' '/images/clients/unn.jpg'
);

$size: 6.25rem;

@each $i, $key, $image in $clients {
  .Client-Image-#{$key} {
    object-fit: cover;
    background-repeat: repeat-y;
    background-position: center;
    height: $size;
    width: $size;
    filter: grayscale(1);
    background-image: url($image);
    transition: 0.4s;
    cursor: pointer;
    animation: swapFilter #{$i + 6}s infinite #{$i + 1}s;
  }

  .Client-Image-#{$key}:hover {
    filter: none;
    background-position: center $size;
    animation: unset;
  }
}

@keyframes swapFilter {
  0%,
  5% {
    filter: grayscale(1);
    background-position: center;
  }
  10%,
  25% {
    filter: none;
    background-position: center $size;
  }
  30%,
  100% {
    filter: grayscale(1);
    background-position: center;
  }
}
