@import 'constants';

.About {
  padding-top: 0.01rem;

  // @include debugger();
  .WhoWeAre {
    &.include-page-header,
    .include-page-header {
      .page-title::before {
        background: {
          image: url('/images/who-we-are-one.jpg');
          size: cover;
          position: center;
        }
      }

      &.second {
        .page-title::before {
          background-image: url('/images/who-we-are-two.jpg');
          background-position: center 70%;
        }
      }
    }

    .logo-img {
      box-shadow: 0 2rem 3rem rgba(200, 165, 101, 0.85);
    }
  }
}

.Client-Image {
  object-fit: cover;
  border-radius: 100%;
  background-color: grey;
  background-position: center;
  height: 100px;
  width: 100px;
  filter: grayscale(1);
  background-image: url('/images/portfolio/enugu_logo.jpg');
  transition: all 0.5s ease-in-out;
}

.Client-Image:hover {
  filter: none;
  transform: scale(1.1);
}

.Person-Image-Wrapper {
  width: 100%;
  height: 15em !important;
  justify-content: center;
}

.Person-Image {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

.Certificate {
  width: 100%;
  height: 40em;
}

.Certificate-One {
  background: url('/images/document.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Certificate-Two {
  background: url('/images/document.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

$clients: (
  1 'enugu' '/images/clients/enugu.jpg',
  2 'nbp' '/images/clients/nbp.jpeg',
  3 'ndphc' '/images/clients/ndphc.jpeg',
  4 'nlng' '/images/clients/nlng.jpeg',
  5 'shell' '/images/clients/shell.jpeg',
  6 'eedc' '/images/clients/eedc.jpg',
  7 'nta' '/images/clients/nta.jpg',
  8 'arda' '/images/clients/arda.jpg',
  9 'unn' '/images/clients/unn.jpg'
);

$size: 6.25rem;

@each $i, $key, $image in $clients {
  .Client-Image-#{$key} {
    object-fit: cover;
    background-repeat: repeat-y;
    background-position: center;
    height: $size;
    width: $size;
    filter: grayscale(1);
    background-image: url($image);
    transition: 0.4s;
    cursor: pointer;
    animation: swapFilter #{$i + 6}s infinite #{$i + 1}s;
  }

  .Client-Image-#{$key}:hover {
    filter: none;
    background-position: center $size;
    animation: unset;
  }
}

@keyframes swapFilter {
  0%, 5% {filter: grayscale(1);
    background-position: center;
  }
  10%, 25% {
    filter: none;
    background-position: center $size;
  }
  30%, 100% {
    filter: grayscale(1);
    background-position: center;
  }
}
