@import 'constants';

body.companies {
  background-color: white;

  .Overview {
    // @include debugger();

    [class*='col'],
    [class~='container'] {
      padding: {
        left: 1.5rem;
        right: 1.5rem;
      }
    }

    .row {
      margin: 0;
    }

    .col,
    .container {
      padding: 0 !important;
    }

    header {
      $h: 100vh;
      $mh: 40rem;

      position: relative;
      height: $h;
      max-height: $mh;
      text-align: center;
      color: white;

      &::before {
        @include before-or-after-v2($zi: 0, $bg: $theme-primary-v1, $o: 0.35);
      }

      &::after {
        @include before-or-after-v2($zi: -1, $bg: $theme-secondary-v2);
        background: {
          position: center;
          size: cover;
          image: url('/images/pvc-pipes-2.jpg');
        }
      }
    }

    section {
      padding: {
        top: 5rem !important;
        bottom: 5rem !important;
      };
      margin: {
        top: 4rem !important;
        bottom: 4rem !important;
      }

      img {
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }

    .heading-container {
      h2 {
        color: $theme-primary-v3;
        font-size: 6rem;
        line-height: 5rem;
        margin: {
          left: -0.5rem;
          right: 1rem;
        }
      }

      span {
        color: $theme-primary-v3;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }

    .sub-section-heading {
      font-size: 1.25rem;
    }

    .section-with-bg {
      // @include debugger();
      background: {
        color: $theme-primary-v2;
        position: center;
        size: cover;
        image: url('/images/pvc-pipes-2.jpg');
      }
      color: white;

      .heading-container {
        h2 {
          color: white;
        }
      }

      p {
        font-size: 0.95rem;
      }
    }
  }
}
