@import 'constants';

body.companies {
  background-color: white;

  &.desktop {
    &.custom-scroll-bar,
    .custom-scroll-bar {
      &::-webkit-scrollbar-thumb {
        background: $theme-secondary !important;
      }
    }
  }

  .MuiAppBar-root {
    background: linear-gradient(
      to left,
      $theme-secondary-v3,
      $theme-secondary-v1
    );
  }

  .top-nav-box {
    background: $theme-secondary-v1;
    color: $theme-secondary-v8;

    span:first-of-type {
      border-right: 1px solid $theme-secondary-v5;
    }
  }

  .Overview {
    header {
      $h: 100vh;
      $mh: 40rem;

      position: relative;
      height: $h;
      max-height: $mh;
      text-align: center;
      color: white;

      &::before {
        @include before-or-after-v2($zi: 0, $bg: $theme-secondary-v1, $o: 0.35);
      }

      &::after {
        @include before-or-after-v2($zi: -1, $bg: $theme-secondary-v2);
        background: {
          position: center;
          size: auto 40rem;
          image: url('/images/pvc-pipes-2.jpg');
        }
        filter: grayscale(1);
      }
    }
  }

  .nav-link {
    color: $theme-secondary-v9 !important;

    &::before,
    &::after {
      background-color: $theme-secondary-v4;
    }

    &::before {
      border-bottom: 0.125rem solid white;
    }

    &:hover,
    &:focus {
      color: #fff !important;

      &::before {
        border-bottom-color: $theme-secondary-v4 !important;
      }
    }

    &.active {
      border-color: $theme-secondary-v8;
    }
  }

  .nav-menu {
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: $theme-secondary-v4;

    a {
      color: $theme-secondary-v9;
      background: $theme-secondary-v2;

      &:hover,
      &:focus {
        color: $theme-secondary-v2;
        background: $theme-secondary-v9 !important;
      }
    }

    $border: 0.0625rem solid $theme-secondary-faint;
    a {
      border: {
        top: $border;
      }

      &:last-child {
        border-bottom: $border;
      }
    }
  }

  @import 'constants';

  .Contact,
  .Inquiry {
    &::before {
      content: ' ';
      background-color: $theme-secondary-v2;
    }

    .map-wrapper {
      background-color: $theme-secondary-v4;
    }
  }

  .contact-info-col {
    background-color: $theme-secondary-v3;
    background-image: linear-gradient(
      to left,
      $theme-secondary-v3,
      $theme-secondary-v1
    );
  }

  .MuiDrawer-paper {
    background: linear-gradient(
      to left,
      $theme-secondary-v4,
      $theme-secondary-v2
    );
  }

  .FooterNavigator {
    .navigator-link {
      color: $theme-secondary-v4;

      &:hover,
      &:focus {
        border-color: $theme-secondary-v5;
      }

      > * {
        &:last-child {
          color: $theme-secondary-v2;
        }
      }
    }
  }

  .Footer-Wrapper-One {
    background: linear-gradient(
      to left,
      $theme-secondary-v4,
      $theme-secondary-v2
    );
  }

  .Footer-Wrapper-Two {
    background: linear-gradient(
      to left,
      $theme-secondary-v3,
      $theme-secondary-v1
    );
  }

  button,
  a {
    &[class*='Primary'] {
      $bg: $theme-secondary-v4;
      $bg-hovered: linear-gradient(
        to left,
        $theme-secondary-v3,
        $theme-secondary-v1
      );

      &.outlined {
        @include variant(
          $bg,
          0,
          1,
          $theme-secondary-v3,
          #fff,
          $gbg1: $theme-secondary-v3,
          $gbg2: $theme-secondary-v1
        );
      }

      &.contained {
        @include variant(
          $bg,
          1,
          0,
          #fff,
          $theme-secondary-v3,
          $gbg1: $theme-secondary-v3,
          $gbg2: $theme-secondary-v1
        );
      }
    }
  }

  .breadcrumbs-container {
    a {
      color: $theme-secondary-v4;
    }
  }

  .logo {
    &:focus-within {
      border: 1px solid $theme-secondary-v8;
    }

    img {
      filter: grayscale(200%) contrast(1.25);
    }
  }

  .theme-color-text {
    color: $theme-secondary-v3;
  }
}
