@import 'constants';

.Contact {
  position: relative;
  padding-top: 15rem;
  background: {
    position: bottom;
    color: #eee;
    image: url('/images/pattern-bg.png');
  }
  z-index: 1;
  padding-bottom: 8rem;

  .map-wrapper,
  &::before {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 37rem;
    transition: 0.5s;
    animation: fromTop 0.75s ease;
  }

  @keyframes fromTop {
    from {
      transform: translateY(-25%);
    }
    to {
      transform: translateY(0);
    }
  }

  &::before {
    content: ' ';
    background-color: black;
  }

  .map-wrapper {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0 0.15rem 0.35rem rgba(0, 0, 0, 0.75);
    background: {
      color: #eee;
      image: url('/images/google-map-placeholder.png');
      // position: bottom center;
    }

    // this is for to fix issue with hover on non-desktop [mobile] devices
    &::before {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      content: ' ';
      background-color: transparent;
    }

    &:hover {
      opacity: 0.85;

      &::before {
        display: none;
      }

      ~ .contact-form-container {
        .contact-form-wrapper {
          transform: translateY(8.5rem);
        }
      }

      ~ .contact-page-title {
        visibility: hidden;

        > h1 {
          opacity: 0;
        }
      }
    }
  }
}

.contact-page-title {
  margin-bottom: 9rem;
  color: #eee;
  text-shadow: 0.075rem 0.075rem 0.165rem #333;

  > h1 {
    font-weight: bold;
    display: inline-block;
    transition: 0.5s;
  }
}

.contact-form-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 62rem;
  margin: auto;
  box-shadow: 0 0.25rem 5rem rgba(0, 0, 0, 0.15),
    0 0.25rem 5rem rgba(0, 0, 0, 0.25) !important;
  animation: fromBottom 0.75s ease;
  transition: 0.5s;
}

.contact-form-col {
  padding: 3.5rem;
  background-color: white;
}

.contact-info-col {
  font-size: 0.9rem;
  color: white;
  background-color: $theme-primary-v4;
}

@keyframes fromBottom {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}
