@import 'constants';

button.go-up-fab {
  $size: 3.5rem;

  width: $size;
  height: $size;
  position: fixed !important;
  bottom: 1rem;
  display: inline-flex;
  min-width: unset;
  align-content: center;
  right: 1rem;
  z-index: 100;
  border-radius: $size;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &.hide {
    transform: translateX($size + 2rem);
  }

  &.contained {
    @include variant(
      $bg: #000,
      $c1: white,
      $c2: #000,
      $gbg1: #333,
      $gbg2: #000
    );
    border: none;

    &:hover {
      border: 0.125rem solid #000;
    }
  }

  [class*='Icon'] {
    font-size: 2.25rem;
  }
}

footer {
  font-size: 1rem;

  a {
    color: $theme-primary-v8;
    font-size: 0.9rem !important;
    display: inline-block;

    &:hover,
    &:focus {
      color: $theme-primary-v9;
      transform: scale(1.05);
    }
  }

  .container {
    padding: 0 1.5rem;
  }

  [class*='Icon'] {
    font-size: 1.5rem;
  }

  .social-media-links-wrapper {
    margin-top: 1rem;

    a {
      margin-right: 1.75rem;
      text-decoration: none;
      transition: 0.2s;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }

    [class*='Icon'] {
      font-size: 1.6rem;
    }
  }

  .contact-info-container {
    a,
    span {
      display: inline-block;
      margin-bottom: 0.25rem;
    }
  }
}

.Footer-Wrapper-One {
  padding: 2rem 0rem;
  background: linear-gradient(to left, $theme-primary-v4, $theme-primary-v2);
}

.Footer-Wrapper-Two {
  padding: 0.75rem 0;
  color: $theme-primary-v6;
  text-align: left;
  font-size: 0.8rem;
  background: linear-gradient(to left, $theme-primary-v3, $theme-primary-v1);
}

.Footer-Image {
  height: 100px;
}

.FooterNavigator {
  line-height: 225%;

  .navigator-link {
    display: inline-block;
    max-width: calc(50vw - 1.25rem);
    color: $theme-primary-v5;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;

    &:hover,
    &:focus {
      border-color: $theme-primary-v6;
    }

    .page-name.for-next {
      text-align: right;
    }

    > * {
      display: flex;
      align-items: center;

      &:last-child {
        color: $theme-primary-v3;
        font-size: 2rem;
        font-family: 'Google Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        margin-top: 0.5rem;
      }
    }
  }
}
