@import 'constants';

.Footer-Wrapper-One {
  height: 10rem;
  background-color: $theme-primary-v5;
}

.Footer-Wrapper-Two {
  padding: 1.5rem 0 1rem 0;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  background-color: $theme-primary-v4;
}

.Footer-Image {
  height: 100px;
}
