.Footer-Wrapper-One{
  height: 10rem;
  background-color: rgba(157, 113, 65, 0.86);
}

.Footer-Wrapper-Two{
  padding: 1.5rem 0 1rem 0;
  color: #ffffff;
  text-align: left;
  font-size: .8rem;
  background-color: #9d7141;
}

.Footer-Image{
  height: 100px
}