//You may append your own styles to the following CSSbut not modify it, but modify only if you need to or should

@import 'constants';

html,
body,
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  color: #444;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Trebuchet MS', sans-serif !important;
  outline: none !important;
  // border: 1px solid deeppink;
}

.debugger {
  border: 1px solid blue;
}

body {
  padding: 0 !important;
  position: relative;
  overflow: auto !important;

  &.desktop {
    &.custom-scroll-bar,
    .custom-scroll-bar {
      &::-webkit-scrollbar {
        width: 0.75em;
      }

      &::-webkit-scrollbar-track {
        background: #eee;
      }

      &::-webkit-scrollbar-thumb {
        background: $theme-color-primary !important;
      }
    }
  }
}

#root {
  height: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;

  > div {
    width: 100%;
  }
}

img {
  max-width: 100% !important;
  height: auto !important;
}

input {
  margin: 1em 0;

  font: {
    family: inherit;
    size: inherit;
  }
}

a {
  color: $theme-color-primary-v8;

  &:visited {
    color: $theme-color-primary-v9;
  }
}

button,
a {
  text-transform: unset !important;
  font-size: 1rem;

  &[class*='Primary'] {
    min-height: 2.5rem;
    border-radius: 0.25rem;
    background-color: $theme-color-primary-v4;
    color: white;

    &.major-button {
      border-radius: 1.75rem;
      height: 3rem;

      &:hover {
        background-color: $theme-color-primary-v3;
      }
    }

    &:disabled,
    &.Mui-disabled {
      background-color: #ccc !important;
      color: #555;
    }
  }
}

hr {
  margin: 1.25rem 0;
  height: 0.2rem;
  border-radius: 0.1rem;
  border: none;
  background: $theme-color-primary;
}

button,
a {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.logo {
  color: white !important;
  padding: 0.25rem;
  display: block;
  font-size: 1.25rem;
  border-radius: 2rem;
  min-width: 14rem;
  margin-left: -0.2rem !important;
  border: 1px solid transparent;

  img {
    width: 2.5em;
    border-radius: 50%;
    filter: hue-rotate(-10deg) brightness(90%) contrast(120%);
  }

  a {
    color: white;
    font-size: inherit;
  }

  &:focus-within {
    border: 1px solid $theme-color-primary-v8;
  }
}

.theme-color-text {
  color: $theme-color-primary;
}
.theme-color-text-lightest {
  color: $theme-color-primary-v9;
}

.theme-color-bg {
  background-color: $theme-color-primary;
}

[class^='MuiFormControl'],
div {
  fieldset {
    transition: 0.35s, border-width 0s;
  }
}

.MuiOutlinedInput-root {
  border-radius: 0.35rem;
  background: #f8f8f8;
}

[class^='MuiFormControl'],
div {
  .MuiInputBase-root {
    &::before,
    &::after {
      transition: 0.3s;
    }

    &::after {
      border-color: $theme-color-primary;
    }

    &:hover {
      &::before {
        border-color: grey;
      }
    }
  }

  .Mui-focused {
    color: $theme-color-primary !important;
  }

  .Mui-disabled {
    fieldset {
      background: #ddd;
      border: none !important;
    }
  }
}
