@import 'constants';

$top-nav-box-height: 2.25rem;

body.companies {
  .for-home {
    .logo {
      display: block;
    }

    .nav-links-wrapper,
    .nav-menu a {
      background: rgba(55, 10, 0, 0.7);
    }

    .nav-menu a:hover {
      background: rgba(65, 20, 0, 0.95) !important;
    }
  }
}

.for-home {
  &.MuiAppBar-root {
    transition: 0s;
    width: 100%;
    left: 0;
    box-shadow: none;

    &::before {
      opacity: 0;
    }

    .logo {
      display: none;
    }

    .top-nav-box {
      display: none;
    }
  }

  .nav-links-wrapper {
    margin: {
      top: 1.5rem;
      bottom: 1.5rem;
    };
    background: rgba(90, 45, 0, 0.7);
    padding: {
      right: 0.75rem;
      left: 0.75rem;
    }
    border-radius: 0.75rem;
  }

  .nav-link {
    padding: {
      top: 1.25rem;
      bottom: 1.25rem;
    }

    &::after {
      content: unset;
    }
  }

  .nav-menu {
    box-shadow: none;
    background-color: transparent;
    border-bottom: 0.125rem solid rgba(90, 45, 0, 0.7);
    transform: translateY(1.5rem);
    border-radius: 0 0 0.5rem 0.5rem;

    a {
      background: rgba(90, 45, 0, 0.7);
      margin-bottom: 0.2rem;
      border-radius: 0.5rem;

      &:last-child {
        margin-bottom: unset;
      }

      &:hover,
      &:focus {
        background: rgba(90, 45, 0, 0.95) !important;
      }

      &.active {
        font-weight: bolder;
        background: rgba(80, 35, 0, 0.95) !important;
        border-radius: 0.5rem;
        color: $theme-primary-v8;
      }
    }
  }

  .breadcrumbs-container {
    &,
    &:focus-within {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.MuiAppBar-root {
  background: none;
  transition: 0.3s;
  width: 100%;
  left: 0;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.35);

  &::before {
    @include before-or-after-v2(
      $bg: linear-gradient(to left, $theme-primary-v4, $theme-primary-v2)
    );
  }
}

.hide-mini-nav {
  transform: translateY(-$top-nav-box-height);

  .top-nav-box {
    opacity: 0;
    visibility: hidden;
  }

  .nav-link {
    padding: {
      top: 1.15rem;
      bottom: 1.15rem;
    }
  }

  .breadcrumbs-container {
    visibility: hidden;
    opacity: 0;
  }
}

.nav-toolbar-container {
  position: relative;
  z-index: 2;
}

.nav-toolbar {
  display: flex;
  visibility: visible;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.top-nav-box {
  height: $top-nav-box-height;
  padding: 0.25rem 0;
  background: $theme-primary-v2;
  color: $theme-primary-v7;
  display: flex;
  align-content: center;
  transition: 0.35s;

  > * {
    align-self: center;
  }

  span {
    display: inline-block;
    border-left: 0.125rem solid $theme-primary-v5;
    margin-left: 0.25rem;
    padding-left: 0.75rem;
  }

  span:first-of-type {
    padding-right: 0.75rem;
    padding-left: 0;
    border: none;
  }

  .social-media-links-wrapper {
    display: inline-flex;
    flex-grow: 0.25;
    justify-content: space-between;

    a {
      transition: 0.2s;

      &:hover,
      &:focus {
        [class*='Icon'] {
          transform: scale(1.25);
        }
      }
    }
  }

  a {
    display: inline-block;
    color: $theme-primary-v8;
    font-size: 0.75rem;

    &:hover,
    &:focus {
      transform: scale(1.05);
      // color: white;
    }
  }

  [class*='Icon'] {
    color: inherit;
    font-size: 1.4rem;
    transition: 0.3s;
  }
}

.nav-links-wrapper {
  display: flex;
  visibility: visible;
  min-height: inherit;
  // flex-grow: 0.75;
  align-self: center;
  margin-left: auto;
  justify-content: flex-end;
}

.nav-icon {
  margin-right: 0.25rem;
  opacity: 0.15;
  transition: 0.35s;
  display: none;
}

.nav-link-wrapper {
  position: relative;
  width: auto;
  display: flex;
  flex-basis: unset;

  &:hover,
  &:focus-within {
    .nav-link::before {
      width: calc(100% - 0.5em);
      transform: scale(1);
    }
  }
}

.nav-link {
  box-shadow: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 0.75rem;
  font-size: 0.9rem;
  padding: 1.5rem 0.25rem;
  // color: $theme-primary-v9;
  color: #eee;
  z-index: 2;
  text-transform: capitalize !important;
  transition: 0.3s;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: ' ';
    width: 0.0625rem;
    max-width: 100%;
    height: calc(50% - 0.5em);
    right: 0;
    bottom: calc(25% + 0.25em);
    left: -1em;
    z-index: -1;
    background-color: $theme-primary-v4;
    transition: 0.25s;
  }

  &::before {
    width: 100%;
    left: 0.25em;
    bottom: 0em;
    height: 0.125rem;
    transform: scale(0);
    border-bottom: 0.1875rem solid $theme-primary-v7;
    // border-bottom: 0.125rem solid $theme-primary-v8;
  }

  &:hover,
  &:focus {
    color: #fff !important;
    // color: $theme-primary-v9 !important;

    &::before {
      width: calc(100% - 0.5em);
      transform: scale(1);
      // border-bottom-color: $theme-primary-v7 !important;
      // border-bottom-color: #eee !important;
    }

    .nav-icon {
      opacity: unset;
    }

    + .nav-menu {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &.active {
    // color: white !important;
    color: $theme-primary-v9 !important;

    &::before {
      transform: scale(1);
      width: calc(100% - 0.5em) !important;
      // border-bottom-color: #fff;
      border-bottom-color: $theme-primary-v8;
    }

    .nav-icon {
      opacity: 0.85;
    }
  }

  &.button {
    background-color: #111;
    color: white;
    display: inline-flex;
    justify-content: center;
    height: 3.25rem;
    margin: {
      top: 0.4rem;
      bottom: 0.4rem;
      left: 1.5rem;
    }
    padding: 1.25rem;
    min-width: 6rem;
    border-radius: 0.65rem !important;
    align-self: center;

    &.contained {
      &::before {
        transform: unset;
        border: unset;
      }

      @include variant(
        $bg: #000,
        $c1: white,
        $c2: #000,
        $gbg1: #333,
        $gbg2: #000
      );

      border: 0.1rem solid transparent;
      &:hover {
        border-color: #000;
      }
    }

    .short-desc {
      display: none;
    }

    &:last-child {
      margin-right: 0.15rem;
    }

    &.active {
      background-color: transparent;
      border-color: $theme-primary-v9;

      &::before {
        opacity: 0;
      }
    }

    &:hover,
    &:focus {
      border-color: white !important;
    }
  }
}

.nav-menu {
  text-align: left;
  position: absolute;
  width: max-content;
  max-width: 24rem;
  min-width: 15rem;
  left: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: inherit;
  padding: 0.25rem 0;
  background-color: $theme-primary-v7;
  top: 100%;
  transform: translateY(1.5rem);
  border-radius: 0 0 0.35rem 0.35rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s;

  &:focus-within,
  &:hover {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  a {
    color: white;
    transition: 0.3s;
    display: flex;
    background: linear-gradient(to left, $theme-primary-v4, $theme-primary-v2);
    z-index: 50 !important;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem !important;

    &:hover,
    &:focus {
      color: $theme-primary-v9;
      padding: {
        left: 1.4rem !important;
        right: 0.6rem !important;
      }
      background: linear-gradient(
        to left,
        $theme-primary-v4,
        $theme-primary-v2
      ) !important;

      + .sub-menu {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
      }
    }

    &.active {
      background: $theme-primary-v2 !important;
      color: $theme-primary-v8;
    }
  }

  .sub-menu {
    display: flex;
    justify-content: space-between;
    top: 0;
    visibility: hidden;
    opacity: 0;
    left: 100%;
    transform: translateX(10%);
    z-index: 6;

    &:focus-within,
    &:hover {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  $border: 0.0625rem solid $theme-primary-faint;
  a {
    padding: 1rem;
    border: {
      top: $border;
    }

    &:last-child {
      border-bottom: $border;
    }
  }
}

.breadcrumbs-wrapper {
  position: absolute;
  top: calc(100% - 0.0625rem);
  height: 0;
  width: 90vw;
  right: 5vw;
  text-align: center;
}

.breadcrumbs-container {
  display: inline-block;
  border-radius: 0 0 0.75rem 0.75rem;
  background: #fff;
  opacity: 0.55;
  padding: 0.15rem 0.65rem;
  transition: 0.4s;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.2);

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  span {
    font-size: 0.9rem !important;
  }

  a {
    color: $theme-primary-v4;
    font-size: 0.8rem;

    &:focus {
      text-decoration: underline;
    }
  }

  &:hover,
  &:focus-within {
    opacity: 0.85;
    visibility: visible !important;
  }
}

.drawer {
  justify-content: flex-end;
  min-width: 3rem;
  margin-left: 1rem;
}

.drawer-nav {
  a {
    text-decoration: none;
    border-radius: 0 !important;
  }

  .nav-links-wrapper {
    flex-direction: column;
    padding: 2rem 0;
  }

  .nav-link-wrapper {
    width: 100%;
    display: flex !important;
    margin-bottom: 0.5rem;

    &:hover {
      .nav-link::before {
        transform: scale(1);
        width: calc(100% - 1em);
        left: 0.5rem;
      }
    }
  }

  .nav-link {
    width: 100%;
    padding: 0.7rem 0.85rem;
    margin: 0 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.75rem !important;
    background: rgba(65, 20, 0, 0.25);

    &.button {
      &:last-child {
        margin: 3rem 1rem !important;
      }

      .long-desc {
        display: initial;
      }

      .short-desc {
        display: none;
      }
    }

    &:focus,
    &:hover {
      &::before {
        width: calc(100% - 1em);
        left: 0.5rem;
      }

      + .nav-menu {
        transform: translateY(0);
      }
    }

    &.active {
      &::before {
        left: 0.5rem;
        width: calc(100% - 1em) !important;
      }
    }
  }

  .nav-menu {
    left: 15%;
    width: calc(85% - 0.95rem);
    min-width: unset;
    max-width: 85%;
    top: calc(100% + 0.5rem);
    transform: translateY(0.75rem);
    z-index: 5;

    &:focus-within,
    &:hover {
      transform: translateY(0);
    }

    a {
      &:hover,
      &:focus {
        + .sub-menu {
          transform: translateX(0);
        }
      }
    }
  }

  .sub-menu {
    width: 85%;
    transform: translateX(15%);
    top: 65%;

    &:focus-within,
    &:hover {
      transform: translateX(0);
    }
  }

  .top-nav-box {
    display: none;
    margin: 6rem 0 4rem 0;
    padding: 0.5rem 0;
    background: none;
  }

  .top-nav-wrapper {
    display: block;
    background: rgba(65, 20, 0, 0.45);
    color: $theme-primary-v3;
    padding: 0.25rem 0 1rem 0;

    > div {
      margin: 0.5rem 0;

      span {
        margin: 0.5rem 0;
        border: none;
        padding-left: 0;
      }

      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
      }
    }

    a {
      margin: 0.25rem 0;
      color: $theme-primary-v8;

      &:hover,
      &:focus {
        transform: scale(1.05);
      }
    }
  }

  .MuiDrawer-paper {
    width: 75%;
    overflow-x: hidden;
    background: linear-gradient(to left, $theme-primary-v4, $theme-primary-v2);
    max-width: 22rem;
  }
}
