@import 'constants';

.News {
  position: relative;
  // @include debugger();

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .Main {
    padding: 1rem;
    padding-right: 1.75rem;
    position: unset;

    .page-title {
      margin-bottom: 10rem;
      text-align: left;

      &::before, &::after {
        clip-path: polygon(
          0 0,
          calc(50vw + 19rem) 0,
          calc(50vw - 1rem) 30rem,
          0 30rem
        );
      }
    }
  }

  .NewsPost {
    padding: 2.5rem 0;
    border-bottom: 0.0625rem solid rgba(219, 175, 127, 0.35);

    .image-container {
      padding: 0;
    }

    .text-container {
      padding: {
        left: 1.35rem;
        right: 0;
      }
    }

    .author {
      padding: 0.075rem 0.65rem;
      border-radius: 1rem;
      margin: 0.5rem 0 0.25rem 0;
      color: #777;
      font-size: 0.9rem;
      background: #eee;
    }

    .link {
      padding: 0.25rem 0.85rem;
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      color: white;

      &::before {
        @include before-or-after-v2(
          $bg: $theme-primary-v3,
          $br: 2rem,
          $h: 100%,
          $b: 0
        );
        top: unset;
      }

      &:hover,
      &:focus {
        color: $theme-primary-v3;

        &::before {
          background: $theme-primary-v8;

          height: 0.125rem;
        }
      }
    }

    img {
      border-radius: 0.5rem;
    }
  }

  .Aside {
    margin-top: 10rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;

    h2 {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.25rem 0;
      border-bottom: 0.125rem solid #333;
    }
  }

  .AsidePost {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25rem 0;
    border-bottom: 0.0625rem solid rgba(219, 175, 127, 0.5);
  }
}
