@media screen and (min-width: 1024px) {
  .drawer {
    display: none;
  }

  @media screen and (max-width: 1152px) {
    // Home page style(s)
    .Home {
      .splash-links-container {
        left: calc(50vw - 31rem);
      }
    }

    //Nav style(s)
    body.companies {
      .for-home {
        .nav-links-wrapper {
          background: transparent;
        }
      }

      .nav-link-wrapper {
        &:last-child {
          display: flex;
        }
      }

      .nav-link-wrapper {
        display: none;
      }

      .drawer {
        display: flex;
      }
    }
  }

  @media screen and (max-width: 1256px) {
    // misc style(s)
    .container,
    .container-lg,
    .container-md,
    .container-sm {
      max-width: 95%;
    }
  }
}

@media screen and (max-width: 1023px) {
  // Nav style(s)
  body.companies {
    .for-home {
      .nav-links-wrapper {
        background: transparent;
      }
    }

    .nav-link-wrapper {
      display: none;
    }

    .nav-link-wrapper {
      &:last-child {
        display: flex;
      }
    }
  }

  .for-home {
    .nav-links-wrapper {
      margin: {
        top: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }

  // Home page style(s)
  .Home {
    .splash-links-container {
      left: 1vw;
    }

    .container {
      padding: 0 1.5rem;
    }
  }

  //Nav styles
  .for-home {
    .nav-links-wrapper {
      padding: 0;
    }
  }

  // misc style(s)
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }

  .drawer {
    display: flex;
  }

  .nav-link-wrapper {
    display: none;
  }
}

// @media screen and (min-width: 992px) {
// }

@media screen and (max-width: 991px) {
  // News component(s) styles
  .News {
    .Aside {
      margin-top: 3rem;
    }
  }

  //Contact style(s)
  .contact-info-col {
    padding: {
      left: 2.5rem;
      right: 2.5rem;
    }
  }

  // Companies (Nav) style(s)
  body.companies {
    .nav-link-wrapper {
      &:last-child {
        display: flex;
      }

      @media screen and (max-width: 480px) {
        .long-desc {
          display: none;
        }

        .short-desc {
          display: initial;
        }

        .nav-link.button {
          margin: 0;
        }
      }

      @media screen and (max-width: 410px) {
        &:last-child {
          display: none;
        }
      }
    }
  }

  //Portfolio page style(s)
  .Portfolio {
    .work-image-wrapper {
      padding: 2rem;
    }

    .work-desc-wrapper {
      padding: 2rem;
    }

    .work-desc-header {
      font-size: 1.75rem;
    }

    .work-image {
      width: 8rem;
    }

    .no-image-placeholder {
      height: 8rem;
    }
  }

  // News component(s) styles

  .News {
    .RecentPosts {
      padding-right: 1.5rem;
    }

    .Archive {
      padding-left: 1.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  //Home page style(s)
  .Home {
    .splash-wrapper {
      display: none;
    }
  }

  //Companies style(s)
  body.companies {
    .Overview {
      header {
        h1 {
          font-size: 4rem;
        }
      }

      .heading-container {
        h2 {
          font-size: 3rem;
        }
      }
    }

    .caption-text-container > * {
      $size: 20rem;

      height: $size;
      width: $size;
      max-width: 75vw;
      max-height: 75vw;
      padding: 1.5rem;
      font-size: 1.25rem;
    }
  }

  // misc style(s)
  .logo {
    font-size: 1.15rem;
  }

  .include-page-header {
    .page-title {
      font-size: 2.25rem;
      text-align: center !important;
      display: block;

      &::before,
      &::after {
        height: 24rem;
      }
    }
  }

  .for-home {
    &.MuiAppBar-root {
      .logo {
        display: block;
        text-shadow: 0.0625rem 0.0625rem 0.1rem rgba(0, 0, 0, 0.5);
        margin-left: -0.25rem !important;

        a {
          color: white !important;
        }

        img {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .top-nav-box {
    display: none;
  }

  .drawer-nav {
    .top-nav-box {
      display: flex;
    }
  }

  .hide-mini-nav {
    transform: unset;

    .breadcrumbs-container {
      visibility: hidden;
      opacity: 0;
    }
  }

  //contact us page responsive styles
  .Contact,
  .Inquiry {
    padding-top: 13rem;

    .map-wrapper,
    &::before {
      height: 34rem;
    }
  }

  .contact-page-title {
    margin-bottom: 9.75rem;

    > h1 {
      font-size: 2.25rem;
    }
  }

  .contact-form-container {
    padding: 0;
  }

  .contact-form-wrapper {
    border-radius: 0;
  }

  .contact-form-col {
    padding: 3.5rem 2.5rem;
    background-color: white;
  }

  .contact-info-col {
    padding: {
      left: 5rem;
      right: 5rem;
    }
  }

  // Portfolio page styles
  .Portfolio {
    .header-image {
      filter: drop-shadow(0 0.75rem 0 $theme-primary-v8);

      &::before,
      &::after {
        top: 0;
        max-height: 100vh;
        clip-path: unset;
      }
    }

    header {
      > div {
        padding: 0;
        margin-bottom: 7rem;
        text-align: center;

        &:nth-child(2) {
          text-align: center;
          margin: {
            top: 10.5rem;
            bottom: 0;
          }
        }
      }

      .rider-text {
        text-align: center;
      }

      .intro-text {
        width: 100%;
        max-width: 28rem;
        display: inline-block;
        padding: 2rem;
      }
    }

    .work {
      border: {
        top-right-radius: 0;
        bottom-right-radius: 0;
      }
      padding: 1rem 1rem 2rem 1rem;

      &.d-flex {
        display: block !important;
      }

      &::before {
        left: calc(100% - (1.25rem / 2) - 0.025rem);
      }

      &::after {
        background: $theme-primary-v8;
        z-index: 1;
        left: calc(100% - (0.125rem / 2) - 0.025rem);
      }
    }

    .work .work-date {
      text-align: right;
      padding: 1.5rem;
    }

    .work-image-wrapper {
      text-align: center !important;
    }

    .work-image {
      width: 7rem;
    }

    .no-image-placeholder {
      height: 7rem;
      font-size: 3rem;
    }

    .work-desc-wrapper {
      text-align: center;
    }

    .work-desc-header {
      font-size: 1.75rem;
    }

    .work-desc {
      font-size: unset;
    }
  }

  // News component(s) styles
  .News {
    .Main {
      padding-right: 1rem;
    }

    .NewsPost {
      .text-container {
        padding-left: 1rem;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  //Contact Us style(s)
  .contact-form-header {
    font-size: 1.5rem;
  }

  .contact-form-col {
    padding: 3.5rem 2rem;
  }

  .contact-info-col {
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }

  //Portfolio page style(s)
  .Portfolio {
    .page-title {
      font-size: 2.5rem;
    }

    .projects-link {
      font-size: 1rem;
      border-bottom: 0.125rem solid $theme-primary-v4;
      padding: 0.5rem 0.75rem;
    }

    .projects-header {
      font-size: 2rem;
    }

    .work-desc-header {
      font-size: 1.5rem;
    }
  }

  //FooterNavigator styles
  .FooterNavigator {
    .navigator-link {
      padding: 0.5rem;

      [class*='Icon'] {
        font-size: 1.1rem;
      }

      > * {
        &:last-child {
          font-size: 1.25rem;
          margin-top: 0.25rem;
        }
      }
    }
  }

  // Modal style(s)
  .ProductsModal {
    .content-wrapper {
      max-height: 80vh;
    }

    .product-image {
      height: 16rem;
      max-height: 50vh;
    }
  }
}

@media screen and (max-width: 575px) {
  // News component(s) styles
  .News {
    .NewsPost {
      .text-container {
        padding: 0;
      }
    }

    .RecentPosts,
    .Archive {
      padding: 1rem;
    }
  }
}
