@media screen and (min-width: 1024px) {
  .drawer {
    display: none;
  }

  @media screen and (max-width: 1216px) {
    .drawer {
      display: flex;
    }

    .app-bar-links {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }

  .drawer {
    display: flex;
  }

  .app-bar-links {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .contact-info-col {
    padding: {
      left: 2.5rem;
      right: 2.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .logo {
    padding: 0.5rem 0;
    font-size: 1.1rem;
  }

  .top-nav-box {
    display: none;
  }

  .drawer-nav {
    .top-nav-box {
      display: flex;
    }
  }

  .Contact {
    padding-top: 13.5rem;

    .map-wrapper,
    &::before {
      height: 36rem;
    }
  }

  .contact-page-title {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 599px) {
  //contact us page responsive styles
  .Contact {
    padding-top: 13rem;

    .map-wrapper,
    &::before {
      height: 35rem;
    }
  }

  .contact-page-title {
    > h1 {
      font-size: 2.25rem;
    }
  }

  .contact-form-header {
    font-size: 1.5rem;
  }

  .contact-form-container {
    padding: 0;
  }

  .contact-form-wrapper {
    border-radius: 0;
  }

  .contact-form-col {
    padding: 3.5rem 2rem;
    background-color: white;
  }

  .contact-info-col {
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
}
