@media screen and (min-width: 1024px) {
  .drawer {
    display: none;
  }

  @media screen and (max-width: 1216px) {
    .drawer {
      display: flex;
    }

    // .app-bar-links {
    //   display: none;
    // }

    .nav-link-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }

  .drawer {
    display: flex;
  }

  // .app-bar-links {
  //   display: none;
  // }

  .nav-link-wrapper {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  body.companies {
    .drawer {
      display: none;
    }

    // .app-bar-links {
    //   display: flex;
    // }

    .nav-link-wrapper {
      display: flex;
    }
  }
}

@media screen and (max-width: 991px) {
  .contact-info-col {
    padding: {
      left: 2.5rem;
      right: 2.5rem;
    }
  }

  body.companies {
    .nav-link-wrapper {
      &:last-child {
        display: flex;
      }

      @media screen and (max-width: 480px) {
        .long-desc {
          display: none;
        }

        .short-desc {
          display: initial;
        }

        .nav-link.button {
          margin: 0;
        }
      }

      @media screen and (max-width: 410px) {
        &:last-child {
          display: none;
        }
      }
    }
  }

  //Portfolio page style(s)
  .Portfolio {
    .work-image-wrapper {
      padding: 2rem;
    }

    .work-desc-wrapper {
      padding: 2rem;
    }

    .work-desc-header {
      font-size: 1.75rem;
    }

    .work-image {
      width: 8rem;
    }

    .no-image-placeholder {
      height: 8rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 1.15rem;
  }

  .top-nav-box {
    display: none;
  }

  .drawer-nav {
    .top-nav-box {
      display: flex;
    }
  }

  .Contact {
    padding-top: 13.5rem;

    .map-wrapper,
    &::before {
      height: 36rem;
    }
  }

  .contact-page-title {
    margin-bottom: 10rem;
  }

  // Portfolio page styles

  .Portfolio {
    .header-image {
      filter: drop-shadow(0 0.75rem 0 $theme-primary-v8);

      &::before,
      &::after {
        height: 34rem;
        clip-path: unset;
      }
    }

    header {
      > div {
        padding: 0;
        margin-top: 10rem;
        margin-bottom: 6rem;
        text-align: center;

        &:nth-child(2) {
          text-align: center;
          margin-bottom: 0;
        }
      }

      .intro-text {
        width: 100%;
        max-width: 28rem;
        display: inline-block;
        padding: 2rem;
      }
    }

    .work {
      display: block !important;

      &::before {
        left: calc(100% - (1.25rem / 2) - 0.025rem);
      }

      &::after {
        left: calc(100% - (0.125rem / 2) - 0.025rem);
      }
    }

    .work-image-wrapper {
      text-align: center !important;
    }

    .work-image {
      width: 7rem;
    }

    .no-image-placeholder {
      height: 7rem;
      font-size: 3rem;
    }

    .work-desc-wrapper {
      text-align: center;
      padding: 1.5rem;
      padding: {
        left: 0.5rem !important;
        right: 1.5rem !important;
      }
    }

    .work-desc-header {
      font-size: 1.75rem;
    }

    .work-desc {
      font-size: unset;
    }
  }
}

@media screen and (max-width: 599px) {
  //contact us page responsive styles
  .Contact {
    padding-top: 13rem;

    .map-wrapper,
    &::before {
      height: 35rem;
    }
  }

  .contact-page-title {
    > h1 {
      font-size: 2.25rem;
    }
  }

  .contact-form-header {
    font-size: 1.5rem;
  }

  .contact-form-container {
    padding: 0;
  }

  .contact-form-wrapper {
    border-radius: 0;
  }

  .contact-form-col {
    padding: 3.5rem 2rem;
    background-color: white;
  }

  .contact-info-col {
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }

  //Portfolio page style(s)
  .Portfolio {
    .page-title {
      font-size: 2.5rem;
    }

    .work-desc-header {
      font-size: 1.5rem;
    }
  }
}
