.Slider-Wrapper{
  height: 100% !important;
  max-height: 100% !important;
}
.Slide-Item{
  height: 100vh;
  object-fit: cover;
}
.Pad{
  padding: 2rem;
}

.Divider{
  height: 1.5rem;
}

.Text{
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}