@import 'constants';

.debugger {
  border: 1px solid blue;
  border: none;

  * {
    border: 1px solid blue;
    border: none;
  }
}

.Portfolio {
  position: relative;

  .header-image {
    height: 0;
    position: absolute;
    filter: drop-shadow(0.65rem 1.15rem 0 $theme-primary-v4);

    @mixin for-both {
      @include before-or-after();
      top: -5rem;
      left: -5vw;
      width: 110vw;
      height: 35.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 56.5% 45%, 40% 100%, 0 100%);
      background: linear-gradient(
        to left,
        $theme-primary-v5,
        $theme-primary-v3
      );
    }

    &::before,
    &::after {
      @include for-both();
    }

    &::before {
      background: {
        image: url('/images/switch-gears.jpg');
        size: auto;
        position: bottom left;
      }
      animation: swapBg 15s infinite ease;
    }

    @keyframes swapBg {
      0%,
      30% {
        background-image: url('/images/switch-gears.jpg');
      }
      33%,
      63% {
        background-image: url('/images/switch-gears-2.jpg');
      }
      66%,
      97% {
        background-image: url('/images/switch-gears-3.jpg');
      }
    }

    &::after {
      z-index: 1;
      background: rgba(109, 65, 17, 0.4);
    }
  }

  .header-wrapper {
    position: static !important;
    // border: 1px solid blue;
  }

  header {
    color: white;
    min-height: 15rem;
    padding: 0;
    margin-bottom: 0rem;
    // border: 2px solid orange;

    > div {
      margin: {
        top: 11rem;
        bottom: 0;
      }

      &:nth-child(2) {
        text-align: right;
        margin-top: 12rem;
      }
    }

    .page-title {
      font-weight: bold;
    }

    .rider-texts-wrapper {
      width: auto;
      min-width: 22rem;
      text-align: center;
    }

    @mixin animate($delay) {
      animation: reveal 15s infinite forwards;
      animation-delay: $delay;
    }

    .rider-text {
      background-color: rgba(109, 65, 17, 0.75);
      padding: 1rem;
      font-size: 1.15rem;
      width: 100%;
      color: $theme-primary-v9;
      border-radius: 0.5rem;
      position: absolute;
      left: 0;
      text-align: left;
      opacity: 0;
      top: 0;
      transform: translateY(1rem);

      span {
        color: white;
      }

      &:first-child {
        @include animate(0s);
      }

      &:nth-of-type(2) {
        @include animate(5s);
      }

      &:last-child {
        @include animate(10s);
      }
    }

    @keyframes reveal {
      3%,
      30% {
        opacity: 1;
        transform: translateY(0);
      }

      32%,
      100% {
        opacity: 0;
        transform: translateY(1rem);
      }
    }

    .intro-text {
      width: 19rem;
      display: inline-block;
      // position: absolute;
      text-align: left;
      top: -4rem;
      right: 0;
      color: #333;
      box-shadow: 0 0.5rem 1.75rem rgba(0, 0, 0, 0.35);
      line-height: 2.15rem;
      border-radius: 1.25rem;
      background: linear-gradient(to left, #202020, #000);
      color: white;
      padding: 2.5rem;

      .quote {
        font-family: serif !important;
        font-style: italic;
        font-size: 3rem;
      }
    }
  }

  @mixin separator-circle() {
    $size: 2.5rem;

    @include before-or-after();
    height: $size;
    width: $size;
    background: $theme-primary-v8;
    border: 0.5rem solid white;
    border-radius: 50%;
    top: calc(-100% - 0.95rem);
    left: calc(50% - #{$size / 2} - 0.05rem);
  }

  .separator {
    background: linear-gradient(to left, $theme-primary-v8, $theme-primary-v3);
    height: 0.165rem;
    width: 100%;
    border-radius: 0;
    margin: 6rem 0;
    position: relative;
    display: none;

    &::before {
      @include separator-circle();
    }
  }

  .work {
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-height: 16rem;
    transform: translateY(3rem);
    opacity: 0;
    transition: 0.75s;

    &::before {
      $size: 1.25rem;

      @include separator-circle();
      height: $size;
      width: $size;
      top: -0.75rem;
      transform: translateY(1200%);
      z-index: 2;
      left: calc(50% - #{$size / 2} - 0.025rem);
      border-color: transparent;
      transition: 0.55s;
    }

    &::after {
      @include before-or-after();

      width: 0.125rem;
      left: calc(50% - #{0.125rem / 2} - 0.025rem);
      background: #eee;
    }

    &.animate {
      opacity: 1;
      transform: translateY(0);

      &::before {
        transform: translateY(0);
      }
    }
  }

  .work:nth-child(even) {
    .work-image-wrapper {
      order: 1;
      text-align: left;
    }

    .work-desc-container {
      text-align: right;
    }
  }

  .work-image-wrapper {
    text-align: right;
    padding: 3.5rem;
  }

  .work-image {
    height: auto;
    display: inline-block;
    width: 10rem;
    max-width: 100%;
    transition: 0.75s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  .no-image-placeholder {
    $size: 10rem;

    display: none;
    width: $size;
    height: $size;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    background: linear-gradient(to left, $theme-primary-v5, $theme-primary-v3);
  }

  .work-desc-wrapper {
    transition: 1.15s;
    padding: 3.5rem;
  }

  .work-desc-header {
    font-size: 2rem;
    font-weight: bold;
    color: $theme-primary-v3;
  }

  .work-desc {
    font-size: 1.15rem;
  }
}
